<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties - Driver, URL, user, password -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/pawelDb</property>
        <property name="hibernate.connection.username">pawel</property>
        <property name="hibernate.connection.password">pawel123</property>

        <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <!-- Mapping with model class containing annotations -->
        <mapping class="com.infoshareacademy.car.domain.model.Car"/>
        <mapping class="com.infoshareacademy.car.domain.model.CarExtended"/>
    </session-factory>
</hibernate-configuration>